@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
}



.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    box-sizing: border-box;
}

.navbar-item {
    box-sizing: content-box;
    overflow: hidden;
    content: "";
    display: table;
    clear: both;
    min-height: unset !important;
    max-height: unset !important;
    /* max-height: 300 !important; */
    /* background-color: black */
}

/* .navbar-brand {
    background-color: black;


} */
.grid-con {
    display: grid;
}

.navlogo {
    height: 300 !important;
}


.con {
    padding-top: 1%;
    padding-left: 10%;
    width: 50%;

    align-items: center !important;
    display: flex;
}



.auto-type {
    padding-left: 10;

    animation: change 9s step-end both;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes change {
    0% {
        color: #50808E;
    }

    33.3% {
        color: #D5B35D;
    }

    66.6% {
        color: #824670;
    }

    /* 90% {
        color: #008000;
    }

    100% {
        color: #0000ff;
    } */


}


.p {
    padding-left: 8;
}

.p,
.e,
.i {

    color: #50808E;

}

.a,
.s,
.n {

    color: #D5B35D;

}

.l,
.t,
.e1 {
    color: 824670
}

.swiper {
    width: 50%;
    height: 80%;
}



.typing-eff {
    width: 50%;
}

.wrapper {
    display: flex;
    width: 100%;
}

.swiper .typing-eff {
    flex: 1;
    border: 2px solid 824670;
    margin: 10px;
}

.typing-eff {
    margin-right: 10px;
}

.swiper {
    width: 70%
}

.con {
    /* background-color: black; */
    /* display: inline-block; */
    width: 100%;
}

.signform {
    width: 40%;
    align-items: center !important;
    justify-content: center !important;
    /* background-image: url("Mobile login-bro.png"); */

}

.loginimg {
    width: 20%;
    height: 20%;
}


.containercom {
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 500px));
    gap: 6rem;
}

.artcard {
    border-radius: 20px;
    transition: 0.3s;
}

.artimg {
    margin: 0;

    overflow: hidden;
}

.artimg img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.artcard:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}



.artcontent .cardtitle {
    margin: 3rem;
    color: black;
    font-weight: bolder;
}

.artcontent .cardcontent {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
}

.containerposts {

    width: 90% !important;
}

.imgpost img {
    width: 70%;
    border-radius: 20px;
}

.conpost {
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
}